# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
.env.*
*.env

# Node
node_modules/
dist/
build/
*.tgz

# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# Logs
*.log
logs/
